<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>Rita Kirkman Patreon Index</title>
    <link rel="stylesheet" href="patreon.css">
</head>

<body>
    <nav>
{% include 'nav.html.j2' %}
    </nav>
    <div class="homepage">
    <p>
    <h2>Welcome to my improved Patreon Index Page!</h2><br><br>
    This is my own curated sorting of all of my Patreon posts. My son and I dreamed it up and he did all the programming. If you have any suggestions or would like an easier way to find a particular topic please <a target="_blank" href="https://www.ritakirkman.com/contact">let us know</a>!<br><br>
    The "Premium Posts" are exclusively available to Moo-tastic Muses and Bunny Buddies. The "Public Posts" are available to everyone. The "By Subject" and "By Tag" menus search all posts. The entire menu is programmed using the tag words on each post. And my "Tag" list is Alphabetized! (Patreon's tag list is not.)<br><br>
    This menu works great in most browsers (Chrome, Firefox, Edge, Safari). Click the links to go to the posts. Previews will appear as you hover links! Previews might not work on older devices or mobile devices. Play around!<br><br>
    (You can still search the posts' Description Content by using the search field labeled "Search posts" on the <a target="_blank" href="https://www.patreon.com/RitaKirkmanStudio/posts">Patreon page</a> when you are logged in. That search box is handy for finding post titles and specific mentions of things within the post text.)<br><br>
Happy Browsing!
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <small style="color: #7B7B7B;">
    This index page is open source by Robert Kirkman. For programmers, the source code is available <a target="_blank" href="https://github.com/robertkirkman/patreon-index">here</a>.
    </small>
    </p>
    </div>
</body>

</html>
