<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>Rita Kirkman Patreon Index</title>
    <link rel="stylesheet" href="patreon.css">
</head>

<body>
    <nav>
{% include 'nav.html.j2' %}
    </nav>
    <div class="subheader">
        <div class="date">
        {% if tags|count > 20 %}
            <input type="text" id="searchInput" placeholder="Search for a tag word...">
        {% endif %}
        </div>
        <div class="date" id="dateText">
            Last updated {{date}}.<br><br>
        </div>
    </div>
    <div class="tags">
        <!-- python jinja2 iterates every tag to create a long list of links -->
        <ul id="tagslist">
        {% for tag in tags %}
            <span><a class="tag_{{tags.index(tag)}}" href="{{tag.slug}}.html">{{tag.nb_name}}</a>&nbsp;({{tag.count}}&nbsp;{% if tag.count == 1 %}post{% else %}posts{% endif %})&nbsp;&nbsp; </span>
        {% endfor %}
        </ul>
    </div>
{% if tags|count > 20 %}
    <script>
        const searchInput = document.getElementById('searchInput');
        const tags = document.querySelectorAll('#tagslist span');
        const updateDisplay = () => {
            const searchTerm = searchInput.value.trim().toLowerCase();
            tags.forEach(item => {
                const languageName = item.textContent.toLowerCase();
                item.style.display = languageName.includes(searchTerm) ? 'inline' : 'none';
            });
        }
        searchInput.addEventListener('input', updateDisplay);
    </script>
{% endif %}
</body>

</html>
