<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>Rita Kirkman Patreon Index</title>
    <link rel="stylesheet" href="patreon.css">
</head>

<body>
    <nav>
        <div><a id="logo" href="patreon.html">Patreon Index</a></div>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a href="ALL.html">All Posts</a></li>
            <li>
                <!-- First Tier Drop Down -->
                <label for="drop-1" class="toggle">Premium Posts&nbsp;&nbsp;&raquo;</label>
                <input type="checkbox" id="drop-1" />
                <ul>
                    <li>
                        <!-- Second Tier Drop Down -->
                        <label for="drop-2" class="toggle">vos episodes&nbsp;&nbsp;&raquo;</label>
                        <input type="checkbox" id="drop-2" />
                        <ul>
                            <li><a href="ALL VOS EPISODE.html">all vos episodes</a></li>
                            <li><a href="VOS ANIMAL.html">animals</a></li>
                            <li><a href="VOS LANDSCAPE.html">landscapes</a></li>
                            <li><a href="VOS PAINT-ALONG.html">paint-alongs</a></li>
                            <li><a href="VOS PASTELING.html">pasteling</a></li>
                            <li><a href="VOS PORTRAIT.html">portraits</a></li>
                            <li><a href="VOS UNDERPAINTING.html">underpainting</a></li>
                            <li><a href="OTHER VOS EPISODE.html">other vos episodes</a></li>
                        </ul>
                    </li>
                    <li><a href="OTHER PREMIUM.html">other premium posts</a></li>
                </ul>
            </li>
            <li>
                <!-- First Tier Drop Down -->
                <label for="drop-3" class="toggle">Public Posts&nbsp;&nbsp;&raquo;</label>
                <input type="checkbox" id="drop-3" />
                <ul>
                    <li><a href="ALL PUBLIC.html">all public posts</a></li>
                    <li><a href="ART TIP.html">art tips</a></li>
                    <li><a href="BONUS FULL-LENGTH VIDEO.html">bonus full-length videos!</a></li>
                    <li><a href="CONVERSATION.html">conversation</a></li>
                    <li><a href="INSPIRATION.html">inspiration</a></li>
                    <li><a href="PROBLEM SOLVING.html">problem solving</a></li>
                    <li><a href="PROGRESS PIC.html">progress pics</a></li>
                    <li><a href="SPEED VIDEO.html">speed videos</a></li>
                    <li><a href="VIDEO MONTAGE.html">video montages</a></li>
                    <li><a href="OTHER PUBLIC.html">other public posts</a></li>
                </ul>
            </li>
            <li>
                <!-- First Tier Drop Down -->
                <label for="drop-4" class="toggle">By Subject&nbsp;&nbsp;&raquo;</label>
                <input type="checkbox" id="drop-4" />
                <ul>
                    <li><a href="BIRD.html">birds</a></li>
                    <li><a href="BUNNY.html">bunnies</a></li>
                    <li><a href="COW.html">cows</a></li>
                    <li><a href="DEER.html">deer</a></li>
                    <li><a href="DONKEY.html">donkeys</a></li>
                    <li><a href="DRAWING.html">drawings</a></li>
                    <li><a href="GOAT.html">goats</a></li>
                    <li><a href="HORSE.html">horses</a></li>
                    <li><a href="LANDSCAPE.html">landscapes</a></li>
                    <li><a href="PET PORTRAIT.html">pet portraits</a></li>
                    <li><a href="HUMAN PORTRAIT.html">human portraits</a></li>
                    <li><a href="SHEEP.html">sheep</a></li>
                    <li><a href="WILDLIFE.html">wildlife</a></li>
                    <li><a href="STILL LIFE.html">still life</a></li>
                    <li><a href="OTHER SUBJECT.html">other subjects</a></li>
                </ul>
            </li>
            <li><a href="TAGS.html">By Tag</a></li>
        </ul>
        <div id="pagename">list of {{filename}}</div>
    </nav>
    <div class="date">
        Last updated {{date}}.<br><br>
    </div>
    <div class="tags">
        <!-- python jinja2 iterates every tag to create a long list of links -->
        {% for tag in tags %}
            <a class="tag_{{tags.index(tag)}}" href="{{tag.slug}}.html">{{tag.nb_name}}</a>&nbsp;({{tag.count}}&nbsp;{% if tag.count == 1 %}post{% else %}posts{% endif %})&nbsp;&nbsp; 
        {% endfor %}
    </div>
</body>

</html>
