<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>Rita Kirkman Patreon Index</title>
    <link rel="stylesheet" href="patreon.css">
</head>

<body>
    <nav>
{% include 'nav.html.j2' %}
    </nav>
    <div class="date">
        Last updated {{date}}.<br><br>
    </div>
    <div class="tags">
        <!-- python jinja2 iterates every tag to create a long list of links -->
        {% for tag in tags %}
            <a class="tag_{{tags.index(tag)}}" href="{{tag.slug}}.html">{{tag.nb_name}}</a>&nbsp;({{tag.count}}&nbsp;{% if tag.count == 1 %}post{% else %}posts{% endif %})&nbsp;&nbsp; 
        {% endfor %}
    </div>
</body>

</html>
