<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>Rita Kirkman Patreon Index</title>
    <link rel="stylesheet" href="patreon.css">
</head>

<body>
    <!-- including divs to contain every thumbnail media embed -->
    {% for post in posts %}
        {% if post["data"]["attributes"]["icon_type"] == "speedvideo" or post["data"]["attributes"]["icon_type"] == "gif" %}
            <div class="viewport_{{posts.index(post)}}">
                <video id="video_{{posts.index(post)}}" class="fade" loop>
                    <source src="{{post["data"]["attributes"]["title_slug"]}}_processed.webm" type="video/webm">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        {% elif post["data"]["attributes"]["icon_type"] == "image" or post["data"]["attributes"]["icon_type"] == "video" or post["data"]["attributes"]["icon_type"] == "link" %}
            <div class="viewport_{{posts.index(post)}}">
                <img id="img_{{posts.index(post)}}" class="fade" src="{{post["data"]["attributes"]["title_slug"]}}_processed.jpg" alt="image not found">
            </div>
        {% endif %}
    {% endfor %}
    <nav>
        <div><a id="logo" href="patreon.html">Patreon Index</a></div>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a href="ALL.html">All Posts</a></li>
            <li>
                <!-- First Tier Drop Down -->
                <label for="drop-1" class="toggle">Premium Posts&nbsp;&nbsp;&raquo;</label>
                <input type="checkbox" id="drop-1" />
                <ul>
                    <li>
                        <!-- Second Tier Drop Down -->
                        <label for="drop-2" class="toggle">vos episodes&nbsp;&nbsp;&raquo;</label>
                        <input type="checkbox" id="drop-2" />
                        <ul>
                            <li><a href="ALL VOS EPISODE.html">all vos episodes</a></li>
                            <li><a href="VOS ANIMAL.html">animals</a></li>
                            <li><a href="VOS LANDSCAPE.html">landscapes</a></li>
                            <li><a href="VOS PAINT-ALONG.html">paint-alongs</a></li>
                            <li><a href="VOS PASTELING.html">pasteling</a></li>
                            <li><a href="VOS PORTRAIT.html">portraits</a></li>
                            <li><a href="VOS UNDERPAINTING.html">underpainting</a></li>
                            <li><a href="OTHER VOS EPISODE.html">other vos episodes</a></li>
                        </ul>
                    </li>
                    <li><a href="OTHER PREMIUM.html">other premium posts</a></li>
                </ul>
            </li>
            <li>
                <!-- First Tier Drop Down -->
                <label for="drop-3" class="toggle">Public Posts&nbsp;&nbsp;&raquo;</label>
                <input type="checkbox" id="drop-3" />
                <ul>
                    <li><a href="ALL PUBLIC.html">all public posts</a></li>
                    <li><a href="ART TIP.html">art tips</a></li>
                    <li><a href="BONUS FULL-LENGTH VIDEO.html">bonus full-length videos!</a></li>
                    <li><a href="CONVERSATION.html">conversation</a></li>
                    <li><a href="INSPIRATION.html">inspiration</a></li>
                    <li><a href="PROBLEM SOLVING.html">problem solving</a></li>
                    <li><a href="PROGRESS PIC.html">progress pics</a></li>
                    <li><a href="SPEED VIDEO.html">speed videos</a></li>
                    <li><a href="VIDEO MONTAGE.html">video montages</a></li>
		    <li><a href="COLOR PALETTE.html">color palette</a></li>
                    <li><a href="OTHER PUBLIC.html">other public posts</a></li>
                </ul>
            </li>
            <li>
                <!-- First Tier Drop Down -->
                <label for="drop-4" class="toggle">By Subject&nbsp;&nbsp;&raquo;</label>
                <input type="checkbox" id="drop-4" />
                <ul>
                    <li><a href="BIRD.html">birds</a></li>
                    <li><a href="BUNNY.html">bunnies</a></li>
                    <li><a href="COW.html">cows</a></li>
                    <li><a href="DEER.html">deer</a></li>
                    <li><a href="DONKEY.html">donkeys</a></li>
                    <li><a href="DRAWING.html">drawings</a></li>
                    <li><a href="GOAT.html">goats</a></li>
                    <li><a href="HORSE.html">horses</a></li>
                    <li><a href="LANDSCAPE.html">landscapes</a></li>
                    <li><a href="PIG.html">pigs</a></li>
                    <li><a href="PET PORTRAIT.html">pet portraits</a></li>
                    <li><a href="HUMAN PORTRAIT.html">human portraits</a></li>
                    <li><a href="SHEEP.html">sheep</a></li>
                    <li><a href="WILDLIFE.html">wildlife</a></li>
                    <li><a href="STILL LIFE.html">still life</a></li>
                    <li><a href="OTHER SUBJECT.html">other subjects</a></li>
                </ul>
            </li>
            <li><a href="TAGS.html">By Tag</a></li>
        </ul>
        <div id="pagename">list of {{filename}} posts</div>
    </nav>
    <div class="date">
        Last updated {{date}}.<br><br>
    </div>
    <div class="posts">
        <!-- python jinja2 iterates every tag to create a long list of links -->
        {% for post in posts %}
            <img class="icon" src="{{post["data"]["attributes"]["icon_type"]}}.png" alt="image not found">
            <a target="_blank" class="post_{{posts.index(post)}}" href="{{post["data"]["attributes"]["url"]}}">{{post["data"]["attributes"]["title"]}}</a><br>
        {% endfor %}
        <div class="footer"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/gsap_3.9.1_min.js"></script>
    <script>
        {% for post in posts %}
            {% if post["data"]["attributes"]["icon_type"] == "speedvideo" or post["data"]["attributes"]["icon_type"] == "gif" or post["data"]["attributes"]["icon_type"] == "image" or post["data"]["attributes"]["icon_type"] == "video" or post["data"]["attributes"]["icon_type"] == "link" %}
                var viewport_{{posts.index(post)}} = document.getElementsByClassName('viewport_{{posts.index(post)}}')[0];
                var post_{{posts.index(post)}} = document.getElementsByClassName('post_{{posts.index(post)}}')[0];
                // for videos, muting is necessary because autoplaying videos with audio are not allowed
                {% if post["data"]["attributes"]["icon_type"] == "speedvideo" or post["data"]["attributes"]["icon_type"] == "gif" %}
                    var media_{{posts.index(post)}} = document.getElementById('video_{{posts.index(post)}}');
                    media_{{posts.index(post)}}.muted = true;
                {% elif post["data"]["attributes"]["icon_type"] == "image" or post["data"]["attributes"]["icon_type"] == "video" or post["data"]["attributes"]["icon_type"] == "link" %}
                    var media_{{posts.index(post)}} = document.getElementById('img_{{posts.index(post)}}');
                {% endif %}
                post_{{posts.index(post)}}.addEventListener('mouseover', function() { show_{{posts.index(post)}}(1) }, false);
                post_{{posts.index(post)}}.addEventListener('mouseout', function() { show_{{posts.index(post)}}(0) }, false);
                
                // play the video without audio
                function show_{{posts.index(post)}}(opacity) {
                    {% if post["data"]["attributes"]["icon_type"] == "speedvideo" or post["data"]["attributes"]["icon_type"] == "gif" %}
                        var aspect_ratio_{{posts.index(post)}} = media_{{posts.index(post)}}.videoWidth / media_{{posts.index(post)}}.videoHeight;
                        var landscape_{{posts.index(post)}} = media_{{posts.index(post)}}.videoWidth > media_{{posts.index(post)}}.videoHeight;
                        if (opacity) {
                            media_{{posts.index(post)}}.play();
                        } else {
                            media_{{posts.index(post)}}.pause();
                        }
                    {% elif post["data"]["attributes"]["icon_type"] == "image" or post["data"]["attributes"]["icon_type"] == "video" or post["data"]["attributes"]["icon_type"] == "link" %}
                        var aspect_ratio_{{posts.index(post)}} = media_{{posts.index(post)}}.naturalWidth / media_{{posts.index(post)}}.naturalHeight;
                        var landscape_{{posts.index(post)}} = media_{{posts.index(post)}}.naturalWidth > media_{{posts.index(post)}}.naturalHeight;
                    {% endif %}
                    // change the opacity whenever the show status changes 
                    TweenLite.to(viewport_{{posts.index(post)}}, 0, {
                        css: {
                            opacity: opacity
                        }
                    });
                    if (landscape_{{posts.index(post)}}) {
                        TweenLite.to(viewport_{{posts.index(post)}}, 0, {clearProps:"height"})
                        TweenLite.to(viewport_{{posts.index(post)}}, 0, {
                            css: {
                                width: 300,
                                'aspect-ratio': aspect_ratio_{{posts.index(post)}}
                            }
                        });
                    } else {
                        TweenLite.to(viewport_{{posts.index(post)}}, 0, {clearProps:"width"})
                        TweenLite.to(viewport_{{posts.index(post)}}, 0, {
                            css: {
                                height: 300,
                                'aspect-ratio': aspect_ratio_{{posts.index(post)}}
                            }
                        });
                    }
                }
            {% endif %}
        {% endfor %}
        // move the media's viewport
        $(window).on('mousemove', move);
        function move(e) {
            // position it relative to the cursor
            {% for post in posts if post["data"]["attributes"]["icon_type"] == "speedvideo" or post["data"]["attributes"]["icon_type"] == "gif" or post["data"]["attributes"]["icon_type"] == "image" or post["data"]["attributes"]["icon_type"] == "video" or post["data"]["attributes"]["icon_type"] == "link" %}
                TweenLite.to(viewport_{{posts.index(post)}}, 0, {x:e.pageX + 5,y:e.pageY + 15});
            {% endfor %}
        }
    </script>

</body>
</html>
